@using System.Text.Json
@using ReferralRock.Model
@inject PageModelWithHttpClient PageModelWithHttpClient
@inject NavigationManager NavigationManager
@page "/"
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1>Members</h1>

@if (members == null)
{
    <p><em>No members</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Referrals</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (member, index) in members.Select((r, i) => (r, i)))
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@member.DisplayName</td>
                    <td>@member.Email</td>
                    <td>@member.Phone</td>
                    <td>
                        <a href="/referrals/@member.Id">View Referrals</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Member>? members;

    protected override async Task OnInitializedAsync()
    {
        members = await PageModelWithHttpClient.GetMembers();
    }
}
